# qdrant-client[fastembed]>=1.14.2
youtube-transcript-api
langchain
langchain-community
langchain-openai
langchain-text-splitters
faiss-cpu 
tiktoken 
python-dotenv
ipykernel
chromadb==0.5.3 
chroma-hnswlib==0.7.3
onnxruntime
pandas
dash
page
dash_bootstrap_components
python-docx